<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico') }}">
    <title>Register</title>
</head>
<body>
    
    <div class="top-nav">
        <h1>Blogscape</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/create_blog">Make A Blog</a>
        <a href="/profile">MyProfile</a>
        <a href="/logout">Logout</a>
    </div>


    <div class="title">
        <h1>Update Information</h1>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class='alert'>
        {% for message in messages %}
        <p class="error">{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

        <div class="registration">
        <form action="/update/{{user.id}}" method="post" class="col-6 mx-auto" enctype="multipart/form-data"> 
            
            <label for="profile_pic" class="text-dark">Profile Pic:</label>
            <input type="file" name="profile_pic" class="form-control">

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control" value="{{user.first_name}}"> 
    
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
    
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control" value="{{user.email}}">

            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control">

            <label for="password">Confirm Password:</label>
            <input type="password" name="confirm" class="form-control">
            <br>
            <input type="submit" value="Update Information" class="btn btn-light">
        </form>
        
        <img id="picture" src="{{url_for('static', filename='Images/Update1.png') }}">
    </div>
        
</body>
</html>